@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

#zone {
  background-color: #1e88e5;
  height: 20vh;
  width: 100vw;
}

.caractere_bon {
  color: #212b43;
}

.caractere_mauvais {
  color: #db002c;
}

.caractere_en_trop {
  color: #8b0303;
}

#card-dactylo {
  background-color: #ffefef;
}

#p-dactylo {
  color: #6bd1e7;
  font-size: 1.3em;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

footer {
  text-align: right;
  color: rgb(160, 160, 160);
  line-height: 0.5;
  font-size: 14px;
  padding: 20px;
  margin: 0px auto;
  max-width: 1010px;
  position: relative;
}

#menu {
  font-weight: 400;
  outline: 0;
  font-size: 18px;
  line-height: 1;
}

img {
  max-height: 80px;
}

header {
  background-color: #5e25fb;
  padding: 1vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5vw;
  /*max-width: 1010px;
  position: relative; */
}


/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  padding: 2vw; 
  flex: 1;
  margin: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card > a {
  font-size: 1.5em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#logo {
  padding: 0px 20px;
  margin: 0px auto;
  max-width: 1010px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: -5px;
}

nav {
  background-color: #333;
}

#nav_div {
  padding: 0px 20px;
  margin: 0px auto;
  max-width: 1010px;
  position: relative;
  box-sizing: border-box;
}

#nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
  /* padding-left: 20%;
    padding-right: 20%; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Page active */
.actif {
  background-color: #04aa6d;
  color: white;
}

/* Change la couleur de l'élément au survol */
li a:hover {
  background-color: #555;
  color: white;
}

/* Sauf si c'est l'élément actif*/
li a:hover:not(.actif) {
  background-color: #111;
}
